src/LibraryAndTools/Arad.SMS.Gateway.GeneralLibrary/Web References/ir.shaparak.pec/SaleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://pec.Shaparak.ir/NewIPGServices/Sale/SaleService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://pec.Shaparak.ir/NewIPGServices/Sale/SaleService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://pec.Shaparak.ir/NewIPGServices/Sale/SaleService">
      <s:element name="SalePaymentRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestData" type="tns:ClientSaleRequestData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClientSaleRequestData">
        <s:complexContent mixed="false">
          <s:extension base="tns:ClientPaymentRequestDataBase" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ClientPaymentRequestDataBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LoginAccount" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="CallBackUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Originator" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SalePaymentRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SalePaymentRequestResult" type="tns:ClientSaleResponseData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClientSaleResponseData">
        <s:complexContent mixed="false">
          <s:extension base="tns:ClientPaymentResponseDataBase" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ClientPaymentResponseDataBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Token" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:short" />
        </s:sequence>
      </s:complexType>
      <s:element name="SalePaymentWithId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestData" type="tns:ClientSaleRequestData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalePaymentWithIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SalePaymentWithIdResult" type="tns:ClientSaleResponseData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UDSalePaymentRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestData" type="tns:ClientSaleRequestData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UDSalePaymentRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UDSalePaymentRequestResult" type="tns:ClientPaymentResponseDataBase" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SalePaymentRequestSoapIn">
    <wsdl:part name="parameters" element="tns:SalePaymentRequest" />
  </wsdl:message>
  <wsdl:message name="SalePaymentRequestSoapOut">
    <wsdl:part name="parameters" element="tns:SalePaymentRequestResponse" />
  </wsdl:message>
  <wsdl:message name="SalePaymentWithIdSoapIn">
    <wsdl:part name="parameters" element="tns:SalePaymentWithId" />
  </wsdl:message>
  <wsdl:message name="SalePaymentWithIdSoapOut">
    <wsdl:part name="parameters" element="tns:SalePaymentWithIdResponse" />
  </wsdl:message>
  <wsdl:message name="UDSalePaymentRequestSoapIn">
    <wsdl:part name="parameters" element="tns:UDSalePaymentRequest" />
  </wsdl:message>
  <wsdl:message name="UDSalePaymentRequestSoapOut">
    <wsdl:part name="parameters" element="tns:UDSalePaymentRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="SaleServiceSoap">
    <wsdl:operation name="SalePaymentRequest">
      <wsdl:input message="tns:SalePaymentRequestSoapIn" />
      <wsdl:output message="tns:SalePaymentRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SalePaymentWithId">
      <wsdl:input message="tns:SalePaymentWithIdSoapIn" />
      <wsdl:output message="tns:SalePaymentWithIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UDSalePaymentRequest">
      <wsdl:input message="tns:UDSalePaymentRequestSoapIn" />
      <wsdl:output message="tns:UDSalePaymentRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SaleServiceSoap" type="tns:SaleServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SalePaymentRequest">
      <soap:operation soapAction="https://pec.Shaparak.ir/NewIPGServices/Sale/SaleService/SalePaymentRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalePaymentWithId">
      <soap:operation soapAction="https://pec.Shaparak.ir/NewIPGServices/Sale/SaleService/SalePaymentWithId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UDSalePaymentRequest">
      <soap:operation soapAction="https://pec.Shaparak.ir/NewIPGServices/Sale/SaleService/UDSalePaymentRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SaleServiceSoap12" type="tns:SaleServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SalePaymentRequest">
      <soap12:operation soapAction="https://pec.Shaparak.ir/NewIPGServices/Sale/SaleService/SalePaymentRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalePaymentWithId">
      <soap12:operation soapAction="https://pec.Shaparak.ir/NewIPGServices/Sale/SaleService/SalePaymentWithId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UDSalePaymentRequest">
      <soap12:operation soapAction="https://pec.Shaparak.ir/NewIPGServices/Sale/SaleService/UDSalePaymentRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaleService">
    <wsdl:port name="SaleServiceSoap" binding="tns:SaleServiceSoap">
      <soap:address location="https://pec.shaparak.ir/NewIPGServices/Sale/SaleService.asmx" />
    </wsdl:port>
    <wsdl:port name="SaleServiceSoap12" binding="tns:SaleServiceSoap12">
      <soap12:address location="https://pec.shaparak.ir/NewIPGServices/Sale/SaleService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>