src/LibraryAndTools/Arad.SMS.Gateway.GeneralLibrary/Web References/ir.shaparak.pec2/ReversalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://pec.Shaparak.ir/NewIPGServices/Reversal/ReversalService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://pec.Shaparak.ir/NewIPGServices/Reversal/ReversalService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://pec.Shaparak.ir/NewIPGServices/Reversal/ReversalService">
      <s:element name="ReversalRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestData" type="tns:ClientReversalRequestData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClientReversalRequestData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LoginAccount" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Token" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReversalRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReversalRequestResult" type="tns:ClientReversalResponseData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClientReversalResponseData">
        <s:complexContent mixed="false">
          <s:extension base="tns:ResponseDataViewModelBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Token" type="s:long" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ResponseDataViewModelBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReversalRequestSoapIn">
    <wsdl:part name="parameters" element="tns:ReversalRequest" />
  </wsdl:message>
  <wsdl:message name="ReversalRequestSoapOut">
    <wsdl:part name="parameters" element="tns:ReversalRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="ReversalServiceSoap">
    <wsdl:operation name="ReversalRequest">
      <wsdl:input message="tns:ReversalRequestSoapIn" />
      <wsdl:output message="tns:ReversalRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReversalServiceSoap" type="tns:ReversalServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReversalRequest">
      <soap:operation soapAction="https://pec.Shaparak.ir/NewIPGServices/Reversal/ReversalService/ReversalRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReversalServiceSoap12" type="tns:ReversalServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReversalRequest">
      <soap12:operation soapAction="https://pec.Shaparak.ir/NewIPGServices/Reversal/ReversalService/ReversalRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReversalService">
    <wsdl:port name="ReversalServiceSoap" binding="tns:ReversalServiceSoap">
      <soap:address location="https://pec.shaparak.ir/NewIPGServices/Reverse/ReversalService.asmx" />
    </wsdl:port>
    <wsdl:port name="ReversalServiceSoap12" binding="tns:ReversalServiceSoap12">
      <soap12:address location="https://pec.shaparak.ir/NewIPGServices/Reverse/ReversalService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>