src/BackgroundWorker/Arad.SMS.Gateway.GetSmsDelivery/Web References/AsanakWebService/CompositeSmsGatewayService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService.compositeSmsGateway.services.sdp.peykasa.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CompositeSmsGatewayService" targetNamespace="http://webService.compositeSmsGateway.services.sdp.peykasa.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://webService.compositeSmsGateway.services.sdp.peykasa.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getReceivedMsg" type="tns:getReceivedMsg" />
      <xs:element name="getReceivedMsgResponse" type="tns:getReceivedMsgResponse" />
      <xs:element name="getReportByMsgId" type="tns:getReportByMsgId" />
      <xs:element name="getReportByMsgIdResponse" type="tns:getReportByMsgIdResponse" />
      <xs:element name="getUserCredit" type="tns:getUserCredit" />
      <xs:element name="getUserCreditResponse" type="tns:getUserCreditResponse" />
      <xs:element name="sendSms" type="tns:sendSms" />
      <xs:element name="sendSmsResponse" type="tns:sendSmsResponse" />
      <xs:complexType name="getReportByMsgId">
        <xs:sequence>
          <xs:element minOccurs="0" name="userCredential" type="tns:userCredential" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="msgIds" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userCredential">
        <xs:sequence>
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getReportByMsgIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:getReportByMsgIdResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getReportByMsgIdResult">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResult">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="reportItems" nillable="true" type="tns:reportItem" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseResult" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorMsg" type="xs:string" />
          <xs:element name="status" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="reportItem">
        <xs:sequence>
          <xs:element name="deliveryDate" type="xs:long" />
          <xs:element minOccurs="0" name="destination" type="xs:string" />
          <xs:element name="msgId" type="xs:long" />
          <xs:element minOccurs="0" name="source" type="xs:string" />
          <xs:element name="status" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getReceivedMsg">
        <xs:sequence>
          <xs:element minOccurs="0" name="userCredential" type="tns:userCredential" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="destAddresses" type="xs:string" />
          <xs:element name="fromTime" type="xs:long" />
          <xs:element name="maxReturnedMsg" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getReceivedMsgResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:getReceivedMsgResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getReceivedMsgResult">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResult">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="receivedMegs" nillable="true" type="tns:receivedMsg" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="receivedMsg">
        <xs:sequence>
          <xs:element minOccurs="0" name="body" type="xs:string" />
          <xs:element minOccurs="0" name="destination" type="xs:string" />
          <xs:element name="encoding" type="xs:int" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="partCount" type="xs:int" />
          <xs:element name="receivedTime" type="xs:long" />
          <xs:element minOccurs="0" name="source" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUserCredit">
        <xs:sequence>
          <xs:element minOccurs="0" name="userCredential" type="tns:userCredential" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUserCreditResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:userCreditResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userCreditResult">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResult">
            <xs:sequence>
              <xs:element name="credit" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="sendSms">
        <xs:sequence>
          <xs:element minOccurs="0" name="userCredential" type="tns:userCredential" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="srcAddresses" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="destAddresses" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="msgBody" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="msgEncoding" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendSmsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:sendSmsResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendSmsResult">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResult">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="msgIdArray" nillable="true" type="xs:long" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getReportByMsgId">
    <wsdl:part name="parameters" element="tns:getReportByMsgId" />
  </wsdl:message>
  <wsdl:message name="getReceivedMsg">
    <wsdl:part name="parameters" element="tns:getReceivedMsg" />
  </wsdl:message>
  <wsdl:message name="getReportByMsgIdResponse">
    <wsdl:part name="parameters" element="tns:getReportByMsgIdResponse" />
  </wsdl:message>
  <wsdl:message name="sendSms">
    <wsdl:part name="parameters" element="tns:sendSms" />
  </wsdl:message>
  <wsdl:message name="getUserCredit">
    <wsdl:part name="parameters" element="tns:getUserCredit" />
  </wsdl:message>
  <wsdl:message name="getUserCreditResponse">
    <wsdl:part name="parameters" element="tns:getUserCreditResponse" />
  </wsdl:message>
  <wsdl:message name="sendSmsResponse">
    <wsdl:part name="parameters" element="tns:sendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="getReceivedMsgResponse">
    <wsdl:part name="parameters" element="tns:getReceivedMsgResponse" />
  </wsdl:message>
  <wsdl:portType name="CompositeSmsGateway">
    <wsdl:operation name="getReportByMsgId">
      <wsdl:input name="getReportByMsgId" message="tns:getReportByMsgId" />
      <wsdl:output name="getReportByMsgIdResponse" message="tns:getReportByMsgIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getReceivedMsg">
      <wsdl:input name="getReceivedMsg" message="tns:getReceivedMsg" />
      <wsdl:output name="getReceivedMsgResponse" message="tns:getReceivedMsgResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUserCredit">
      <wsdl:input name="getUserCredit" message="tns:getUserCredit" />
      <wsdl:output name="getUserCreditResponse" message="tns:getUserCreditResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendSms">
      <wsdl:input name="sendSms" message="tns:sendSms" />
      <wsdl:output name="sendSmsResponse" message="tns:sendSmsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CompositeSmsGatewayServiceSoapBinding" type="tns:CompositeSmsGateway">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getReportByMsgId">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getReportByMsgId">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getReportByMsgIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReceivedMsg">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getReceivedMsg">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getReceivedMsgResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserCredit">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUserCredit">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUserCreditResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSms">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="sendSms">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendSmsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompositeSmsGatewayService">
    <wsdl:port name="CompositeSmsGateway" binding="tns:CompositeSmsGatewayServiceSoapBinding">
      <soap:address location="http://ws.asanak.ir:8082/services/CompositeSmsGateway" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>